/**
  * Custom Portal Styles
  * @authors: crmworks.asia
  * @description: use to override default Ariva styles and
  * add new styles specifically for the website.
*/

/*
swatch colors
========
8dc002 - yellow green
e76318 - orange

declaration order
========
1. Positioning
2. Box model
3. Typographic
4. Visual
---------------------------------------------------------------*/

/*
 * =utils
 * ----------------------------------------------------------------------------
 */

@import url("style.css");

/*
 * =homepage
 * ----------------------------------------------------------------------------
 */

#nav {
    background: rgba(0,0,0,0.5) !important;
    border-bottom: 3px solid #d4010e;
    -webkit-box-shadow: 0px 0px 4px 0px rgb(60, 59, 59);
       -moz-box-shadow: 0px 0px 4px 0px rgb(60, 59, 59);
            box-shadow: 0px 0px 4px 0px rgb(60, 59, 59);
}

/*
 * =contact_us
 * ----------------------------------------------------------------------------
 */

.sp_quickcontact input#sp_qc_submit {
    font-size: 18px;
    color: #fff;
    border: #fff 2px solid !important;
    padding: 14px 25px;
}

.sp_quickcontact input#sp_qc_submit:hover {
    background-color: #d4010e !important;
    border: #d4010e 2px solid !important;
}

/*
 * =footer
 * ----------------------------------------------------------------------------
 */

#copyright i.fa-linkedin:hover {
    color: #65b7d2 !important;
    border: 2px solid #65b7d2 !important;
}

#copyright i.fa-twitter:hover {
    color: #45b0e3;
    border: 2px solid #45b0e3;
}

#copyright i.fa-facebook:hover {
    color: #39599f;
    border: 2px solid #39599f;
}


#copyright i.fa-youtube:hover {
    color: #e70031;
    border: 2px solid #e70031;
}