/**
 * Table of Contents:
 *
 * 1.0 - General Layout
 * 2.0 - Typography
 *		 2.1 - General Typography
 *		 2.2 - Buttons
 *		 2.3 - Navigation
 *		 2.4 - Social Navigation
 *		 2.5 - Mobile Navigation
 * 3.0 - Joomla Component
 * 4.0 - Modules
 * 5.0 - Third Party Extensions
 * 	     5.1 - K2 Component & Modules
 *			   5.1.1 - K2 Component
 *			   5.1.2 - K2 Comments & Comment Form
 *			   5.1.3 - K2 Extra Fields
 *			   5.1.4 - K2 Categories and Items module
 *			   5.1.5 - K2 Tags module
 *			   5.1.6 - K2 Search module
 *			   5.1.7 - K2 Pagination
 *			   5.1.8 - K2 Content module ( home page blog )
 *		 5.2 - Roksprocket Component
 *		 5.3 - SP Quick Contant Form
 *		 5.4 - Revolution Slider
 * 6.0 - Features - Shortcodes
 *		 6.1 - Services
 *		 6.2 - Blockquote
 *		 6.3 - Testimonials
 *		 6.4 - Section Titles with/without Description
 *		 6.5 - Carousel Slider
 *		 6.6 - Brands
 *		 6.7 - Post Link
 *		 6.8 - Contact Info
 *		 6.9 - General Slider
 *		 6.10 - Progress bars
 *		 6.11 - Counters
 *		 6.12 - Team
 *		 6.13 - Process and Capabilities Sliders
 *		 6.14 - Pricing Tables
 *		 6.15 - Page Titles
 * 7.0 - Scripts
 *		 7.1 - OWL Carousel
 *		 7.2 - Ajax Portfolio
 *		 7.3 - Preloader
 * 8.0 - Media Queries
 *
 * ----------------------------------------------------------------------------
 */

/*
 * 1. General Layout
 * ----------------------------------------------------------------------------
 */

html {
	height:100%;
}

body {
	color:#7e7d7d;
	line-height:26px;
	margin:0;
	padding:0;
	-webkit-font-smoothing:antialiased;
	height:100%;
}

#wrapper {
	position:relative;
	display:block;
	z-index:1;
	height:100%;
}

.mainspot {
	margin-top: 0px;
	padding:80px 0px;
	background:#fff;
}

.mainspot #tdref {
	display:none;
}

#contact {
	padding:100px 0 80px 0;
	background:#181818;
}

#contact .section-header {
	color:#fff;
}

#contact .header-line-bottom {
	background:#fff;
}

#copyright {
	font-size:10px;
	letter-spacing:0.2em;
	display:block;
	padding:40px 0;
	position:relative;
	z-index:51;
	background:#121212;
	color:#9f9f9f;
	text-transform:uppercase;
	text-align:center;
}

#copyright i.social-copy {
	color:#535353;
	border:2px solid #464646;
	border-radius:100%;
	margin:10px;
	font-size:16px;
	width:39px;
	height:39px;
	line-height:36px;
	display:inline-block;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
}

#bgndVideo {
	top:-80px;
	position:absolute;
}

.logo {
	color:#000000;
}


/*
 * 2. Typography
 * ----------------------------------------------------------------------------
 */

/* 2.1 General Typography */

input,textarea {
	outline:0;
}

a {
	outline:0;
	color:#7e7d7d;
	-webkit-transition:all 400ms ease-in;
	-moz-transition:all 400ms ease-in;
	-ms-transition:all 400ms ease-in;
	-o-transition:all 400ms ease-in;
	transition:all 400ms ease-in;
}

a:hover,
a:focus {
	text-decoration:none;
	outline:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color:#fff;
	letter-spacing:0.1em;
	color:#252525;
}

h1 {
	font-size:40px;
	margin:20px 0;
}

h2 {
	font-size:30px;
}

h3 {
	font-size:24px;
}

h4 {
	font-size:20px;
}

h5 {
	font-size:18px;
}

h6 {
	font-size:16px;
}

pre {
	color:#444;
	background-color:#fafafa;
	border:1px solid #e6e6e6;
	border-radius:0;
}

.center {
	text-align:center;
}


/* 2.2 Buttons */

.button {
	outline:0;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
	display:inline-block;
	margin-top:20px;
	letter-spacing:0.2em;
}

.btn-style1{
	text-transform:uppercase;
	color:#fff;
	font-size:13px;
	padding:5px 20px;
	font-weight:400;
}

.btn-style1:hover {
	background-color:transparent;
}

.btn-style2 {
	text-transform:uppercase;
	font-size:13px;
	padding:5px 20px;
	font-weight:400;
	background-color:transparent;
}

.btn-style2:hover {
	color:#fff;
}

.btn-style3 {
	text-transform:uppercase;
	color:#fff;
	font-size:13px;
	padding:5px 20px;
	font-weight:400;
	background-color:#222;
	border:2px solid #222;
}

.btn-style3:hover {
	color:#fff;
}

.large {
	padding:7px 15px;
	font-size:12px;
}

.medium {
	padding:5px 13px;
	font-size:11px;
}

.small {
	padding:0px 28px;
	font-size:10px;
}


/* 2.3 Navigation */

#nav {
	position:fixed;
	top:0;
	display:block;
	width:100%;
	z-index:9999;
	background:#ffffff;
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
	line-height:80px;
	height:80px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(226,226,226,1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(226,226,226,1);
	box-shadow: 0px 0px 4px 0px rgba(226,226,226,1);
}

#nav ul.nav {
	float:right;
	display:inline-block;
	margin:0;
}

#nav ul.nav li {
	display:inline;
	padding-right:20px;
	padding-left:20px;
}

#nav ul.nav li a {
	color:#ffffff;
	text-transform:uppercase;
	padding-bottom:20px;
}

#nav ul.nav li:hover a,
#nav ul.nav li a.actview {
	padding-bottom:5px;
}

#nav a.mobile-menu,
#nav a.desktop-menu {
	line-height:80px;
	width:18px;
	height:12px;
	margin:34px 0;
	background:url('../img/menu-bars.png') no-repeat;
	float:right;
}


/* 2.4 Social Navigation */

.social-nav {
	float:right;
	display:none;
	opacity:1;
	margin:0;
	line-height:80px;
}

.social-nav p {
	margin:0px;
}

.social-nav i {
	font-size:16px;
	border-right:1px solid #000000;
	padding-right:10px;
}

.social-nav a {
	color:#252525;
}

.social-nav i.social-last {
	border-right: none;
}

/* 2.5 Mobile Navigation */

.mobile-sidebar
{
	width: 270px;
	display:block;
	position:fixed;
	right:-270px;
	background:#f0f0f0;
	top:0;
	bottom:0;
	z-index:999999;
	padding:90px 20px 20px 20px;
	overflow-y: auto;
}

.mobile-sidebar > .nav
{
	display:block;
	margin-top:20px;
	list-style: none;
	padding-left: 0px;
	margin-left: 0px;
}

.mobile-sidebar > ul.nav {
	padding:0;
	margin:0;
}

.mobile-sidebar > ul.nav > li
{
	border-bottom:1px solid #eaeaea;
}

.mobile-sidebar > ul.nav > li > a
{
	padding: 10px 0px;
	text-transform: uppercase;
	line-height: 40px;
}

.mobile-sidebar .actview {
	border:none;
}

a.mobile-close
{
	background:url('../img/close-sidebar.png') no-repeat;
	display:block;
	float: right;
	width: 13px;
	height: 13px;
}



/*
 * 3. Joomla Component
 * ----------------------------------------------------------------------------
 */

/*
 * 4. Modules
 * ----------------------------------------------------------------------------
 */

.sidebar-main .moduletable,
.sidebar-mod {
	margin-bottom:60px;
	margin-top:0;
}

.sidebar-main h3 {
	text-transform:uppercase;
}

.moduletable h3,
.moduletable-center h3 {
	margin-bottom:30px;
}

.moduletable {
	margin:0;
}

.moduletable-bottom-line {
	border-bottom:1px solid #eaeaea;
	padding-bottom:100px;
}

.sidebar-main h3{
	color:#181818;
	font-size:14px;
	letter-spacing:0.2em;
}


/*
 * 5. Third Party Extensions
 * ----------------------------------------------------------------------------
 */


/* 5.1 K2 Component and Widgets */

/* 5.1.1 K2 Component */

.ArivaK2Content div.catItemHeader h3.catItemTitle,
.ArivaK2Content div.catItemHeader h3.catItemTitle a,
.ArivaK2Content div.itemHeader h2.itemTitle,
div.tagItemHeader h2.tagItemTitle,
div.tagItemHeader h2.tagItemTitle a,
.ArivaK2Content div.userItemTitle,
.ArivaK2Content div.userItemTitle a {
	font-size:16px;
	color:#181818;
	text-transform:uppercase;
	padding:0;
	margin:0;
	letter-spacing:0.1em;
}

div.itemList {
	overflow:hidden;
}

div.subCategory {
	background:#fff;
	border:1px solid #dcdcdc;
	margin:20px;
	padding:20px;
}

div#itemListLinks {
	background:#fff;
	border:none;
	margin:0;
	padding:0;
}

#itemListLinks h4 {
	font-size:16px;
	color:#252525;
	text-transform:uppercase;
	padding:0 0 5px;
}

#itemListLinks .itemContainer {
	background-color:#fff;
	margin-bottom:20px;
	border-bottom:none;
}

#itemListLinks a {
	text-transform:none;
	padding:0 0 5px;
	margin-top:0;
	background:none;
}

div.itemView {
	padding:8px 0 100px;
	margin:0 0 24px;
	border-bottom:none;
}

div.itemHeader {
	display: block;
margin-bottom: 80px;
position: relative;
}

div.catItemHeader .catItemAuthor,
div.itemHeader span.itemAuthor,
.ArivaK2Content div.catItemHeader span.catItemAuthor {
	display:inline-block;
	margin-right:5px;
	margin-left:5px;
}

div.userItemDateCreated,
div.catItemHeader span.catItemDateCreated,
div.itemHeader span.itemDateCreated {
	display:inline-block;
	font-size:inherit;
	margin-right:5px;
	border:none;
	color:#9f9f9f;
}

div.tagItemCategory span {
	color:#9f9f9f;
	margin-left:5px;
	text-transform:uppercase;
	font-weight:normal;
}

div.tagItemCategory a {
	color:#9f9f9f;
}

.catItemCommentsLink a,
.itemCommentsLink {
	color:#9f9f9f;
	margin-left:5px;
}

div.userItemCommentsLink,
div.catItemCommentsLink {
	display:inline;
	border-right:none;
}

div.tagItemCategory,
div.tagItemHeader span.tagItemDateCreated,
div.userItemHeader,
div.catItemHeader,
div.itemHeader {
	font-size:10px;
	color:#9f9f9f;
	border:none;
	text-transform:uppercase;
	display:inline-block;
}

div.userItemIntroText,
div.catItemIntroText,
div.itemIntroText,
div.tagItemIntroText {
	color:inherit;
	font-size:inherit;
	font-weight:inherit;
	line-height:24px;
	padding:4px 0 12px;
}

.itemRatingBlock,
div.itemToolbar {
	border:none;
	background:none;
	font-style:italic;
	margin:0;
}

div.itemToolbar ul {
	text-align:left;
}

div.itemToolbar ul>li:first-child {
	padding-left:0;
}

div.itemContentFooter {
	font-style:italic;
}

.userItemCategory,
div.itemCategory {
	font-style:italic;
	border-bottom:none;
}

.userItemCategory {
	padding:0 30px;
}

div.itemAuthorBlock {
	background:#f0f0f0;
	color:#181818;
	border:none;
	margin:0 0 16px;
	padding:20px;
}

div.itemNavigation {
	border:none;
	background:#f0f0f0;
	color:#181818;
	font-size:12px;
	font-weight:300;
	font-style:italic;
}

div.itemAuthorLatest {
	background:none;
}

div.itemAuthorLatest ul {
	padding-left:0;
	margin-left:0;
	list-style:none;
}

div.itemAuthorLatest ul li.even,
div.itemAuthorLatest ul li.odd {
	background:none;
	border:none;
	font-size:12px;
}

.ArivaK2Content .catItemAuthor a,
.ArivaK2Content div.catItemHeader span.catItemAuthor {
	color:#9f9f9f;
	display:inline-block;
}

.userItemTagsBlock,div.k2FeedIcon{display:none}

.ArivaK2Content {
	display:block;
	float:right;
	width:90%;
	position:relative;
	margin:0;
	border-bottom:1px solid #e8e8e8;
}

.ArivaK2icon {
	display:block;
	float:left;
	width:10%;
	position:relative;
}

.itemIconBackground {
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	display:inline-block;
	top:0;
	position:relative;
}

.itemIcon {
	line-height:50px;
	color:#ffffff;
	border-radius:100%;
}

.itemContainer,
div.tagItemView,
.userItemView {
	background-color:#fff;
	margin-bottom:65px;
}

.catItemHeader,
.itemHeader,
.tagItemHeader,
.userItemHeader {
	margin-left:0px;
	padding-top:5px;
	margin-bottom:40px;
	letter-spacing:0.1em;
}

.catItemBody,
.tagItemBody,
.userItemBody {
	padding:0;
}

.tagItemReadMore,
.userItemReadMore,
div.catItemReadMore {
	display:block;
	padding:0 0 60px;
}

div.catItemReadMore a {
	margin-top:0px;
}

div.tagItemView {
	padding-bottom:60px;
	border-bottom: 1px solid #dadada;
}

div.catItemView {
	padding:0;
}

div.userBlock h2 {
	color:#414145;
	font-size:24px;
	text-transform:uppercase;
	margin-top:0
}

div.userBlock {
	background:#ffffff;
	border:1px solid #e4e4e4;
	margin:0 0 60px;
	padding:20px;
}

div.userBlock img {
	float:left;
	margin:0 20px 4px 0;
	padding:0;
	background:#fff;
	border:none;
}

.catItemIsFeatured,
.itemIsFeatured {
	background:none;
}


/* 5.1.2 K2 Item Comments & Comments Form */

div.itemComments {
	background:none;
	border:none;
	padding:0;
	clear:both;
	width:90%;
	float:right;
	margin-top: 60px;
}

div.itemComments h3 {
	font-size:14px;
	color:#181818;
	letter-spacing:0.2em;
	text-transform:uppercase;
	margin-bottom:50px;
}

span.commentAuthorName,
.commentAuthorName a {
	margin:0;
	font-size:12px !important;
	text-transform:uppercase;
	color:#181818;
	display:block;
	letter-spacing:0.2em;
}

.itemCommentsList .even,
.itemCommentsList .odd {
	background:none;
}

div.itemComments ul.itemCommentsList li {
	padding:40px 0;
	border-bottom:#f0f0f0 1px solid;
}

div.itemComments ul.itemCommentsList li span.commentDate {
	display:inline-block;
	border:none ;
	font-size:11px;
	font-style:italic;
}

div.itemComments ul.itemCommentsList li span.commentLink {
	font-size:11px;
	text-decoration:none;
	outline:0;
	float:none;
	font-style:italic;
}

div.itemComments ul.itemCommentsList li span.commentLink a {
	color:#000000;
	font-size:11px;
}

.formComment,
.formEmail,
.formName,
.formUrl,
.itemCommentsFormNotes {
	display:none;
}

div.itemComments ul.itemCommentsList li img {
	float:left;
	margin:6px 20px 4px 0;
	padding:0;
	background:#fff;
	border:none;
	border-radius:100%;
}

div.itemComments ul.itemCommentsList li p {
	padding:20px 0 0;
	margin-bottom:0;
}

div.itemCommentsForm form textarea.inputbox {
	display:block;
	width:100%;
	height:190px;
	background:#fff;
	border:1px solid #d1d1d1;
	padding:10px 15px;
	margin:0;
}

#commentEmail,
#commentURL,
#userName {
	border:1px solid #d1d1d1;
	padding:10px 15px;
	width:100%;
	display:inline-block;
	margin-bottom:25px;
	font-style:italic;
}

#commentEmail,
#userName {
	margin-right:30px;
}

.commentbtn {
	float:right;
}


/* 5.1.3 K2 Extra Fields */

div.tagItemExtraFields,
div.catItemExtraFields,
div.genericItemExtraFields,
div.itemExtraFields {
	margin:0 0 30px;
	padding:0;
	border:none;
}

div.catItemExtraFieldsValue > p {
	margin:0;
}

div.itemExtraFields {
	margin-top:-50px;
}

div.tagItemExtraFields ul {
	list-style:none;
	margin-left:0;
	padding-left:0;
}

div.catItemExtraFields .even,
div.catItemExtraFields .odd,
div.itemExtraFields .even,.itemExtraFields .odd,.tagItemExtraFields .even,
div.tagItemExtraFields .odd {
	background:none;
	padding:0;
	border:none;
}

div.itemBackToTop,
div.itemExtraFieldsLabel,
div.tagItemExtraFields h4,
div.tagItemExtraFields ul li span.tagItemExtraFieldsLabel,
div.catItemExtraFields h4,
div.catItemExtraFields ul li span.catItemExtraFieldsLabel,
div.genericItemExtraFields h4,
div.genericItemExtraFields ul li span.genericItemExtraFieldsLabel {
	display:none;
}


/* 5.1.4 K2 Categories and Items Widget */

div.k2CategoriesListBlock ul,
div.k2ItemsBlock ul {
	margin-left:0;
	padding-left: 0px;
	list-style: none;
}

div.k2CategoriesListBlock ul li,
div.k2ItemsBlock ul li {
	border-bottom:1px solid #e8e8e8;
	line-height:50px;
	background:none;
}

div.k2CategoriesListBlock ul li:before,
div.k2ItemsBlock ul li:before {
	content:"\25a0";
	color:#d4d4d4;
	margin-right:10px;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
}

div.k2CategoriesListBlock li:last-child,
div.k2ItemsBlock>ul>li.lastItem {
	border-bottom:none;
}

div.k2ItemsBlock ul li span.moduleItemDateCreated {
	font-style:italic;
}

div.k2ItemsBlock ul li div.moduleItemIntrotext {
	display:block;
	padding-bottom:5px;
	line-height:22px;
}

/* 5.1.5 K2 Tags Widget */

div.k2TagCloudBlock a {
	padding:3px 20px;
	float:left;
	display:block;
	border:1px solid #e8e8e8;
	margin:3px;
}

div.k2TagCloudBlock a:hover {
	padding:3px 20px;
	float:left;
	display:block;
	margin:3px;
	color:#ffffff;
}


/* 5.1.6 K2 Search Widget */

div.k2SearchBlock form input.inputbox {
	border:1px solid #e8e8e8;
	width:100%;
	padding:10px 15px;
	outline:0;
	min-height:48px;
}

div.k2SearchBlock form:after {
	content:"\f002";
	font-family:"FontAwesome";
	position: absolute;
	top: 10px;
	right: 20px;
	border-left: 1px solid #dcdcdc;
	padding-left: 15px;
}


/* 5.1.7 K2 Pagination */

div.k2Pagination {
	text-align:left;
	float:left;
	padding:0;
	margin:0px;
}

div.k2Pagination ul {
	padding-left:80px;
	display:inline-block;
}

.k2Pagination ul li {
	display:inline;
	margin:0 3px;
}

div.k2Pagination ul li a,
div.k2Pagination ul li span {
	min-width:42px;
	min-height:42px;
	line-height:42px;
	padding:0 5px;
	margin-bottom:3px;
	border:1px solid #d1d1d1;
	color:#a3a3a3;
	display:inline-block;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
	cursor:pointer;
}

div.k2Pagination ul li a:hover,
div.k2Pagination ul li span:hover {
	border:1px solid #000000;
	color:#181818;
}


/* 5.1.8 K2 Content Module */

.blog {
	margin-top:60px;
}

.blogItem {
	margin:0;
	padding:0;
	background:#f7f7f7; /* In case there is no image available */
	background-size:cover !important;
	display:block;
	position:relative;
	border:none;
}

.blogMask {
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-out;
	-o-transition:all .4s ease-out;
	transition:all .4s ease-out;
	z-index:999;
	position:relative;
	display:block;
	margin:0;
	padding:40px 0;
	text-align:center;
}

.even .blogMask {
	background-color:rgba(0,0,0,.77);
}

.odd .blogMask {
	background-color:rgba(0,0,0,.44);
}

.blogItem:hover .blogMask {
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-out;
	-o-transition:all .4s ease-out;
	transition:all .4s ease-out;
}

.blogItem .blogItemIcon {
	position:relative;
	display:block;
	width:51px;
	height:51px;
	line-height:51px;
	border-radius:100%;
	margin:0 auto;
	background:rgba(255,255,255, .44);
	color:#ffffff;
}

.blogItem .moduleItemTitle {
	font-size:16px;
	line-height:36px;
	margin-top:3px;
	padding:0;
	color:#ffffff;
	display:block;
	position:relative;
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-out;
	-o-transition:all .4s ease-out;
	transition:all .4s ease-out;
}

.blogItemDetails {
	color:#9f9f9f;
	font-size:10px;
	letter-spacing:0.1em;
	text-transform:uppercase;
	line-height:10px;
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-out;
	-o-transition:all .4s ease-out;
	transition:all .4s ease-out;
}

.blogItem:hover .blogItemDetails {
	color:#ffffff;
}


/* 5.2 Roksprocket Component ( Portfolio ) */

.portfolio-mask {
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-out;
	-o-transition:all .4s ease-out;
	transition:all .4s ease-out;
	opacity:0;
	top:0.5px;
	left:0.5px;
	bottom:0.5px;
	right:0.5px;
	z-index:999;
	position:absolute;
	cursor:url(../img/plus.png);
}

a.a-item img {
	-webkit-transition:all .8s ease-in-out;
	-moz-transition:all .8s ease-in-out;
	-ms-transition:all .8s ease-out;
	-o-transition:all .8s ease-out;
	transition:all .8s ease-out;
	cursor:url(../img/plus.png),auto;
}

a.a-item:hover img {
	-webkit-transition:all .8s ease-in-out;
	-moz-transition:all .8s ease-in-out;
	-ms-transition:all .8s ease-out;
	-o-transition:all .8s ease-out;
	transition:all .8s ease-out;
	cursor:url(../img/plus.png),auto;
}

a.a-item:hover>.portfolio-mask {
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-out;
	-o-transition:all .4s ease-out;
	transition:all .4s ease-out;
	cursor:url(../img/plus.png),auto;
}

.title-table {
	display:table;
	width:100%;
	height:100%;
	cursor:url(../img/plus.png);
}

.portfolio-mask-title {
	color:#ffffff;
	z-index:100;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	font-size:12px;
	letter-spacing:0.2em;
	text-transform:uppercase;
	cursor:url(../img/plus.png);
}

.portfolio-mask-title li,
.portfolio-mask-title ul {
	margin:0;
	padding:0;
}

.td-portfolio-mosaic {
	position:relative;
}

.td-portfolio-mosaic:after {
	display:table;
	content:"";
	clear:both;
}

.td-portfolio-mosaic .td-portfolio-mosaic-header ul {
	list-style:none;
	margin:0;
	padding:0;
}

.td-portfolio-mosaic .td-portfolio-mosaic-container {
	position:relative;
	clear:both;
}

#main .td-portfolio-mosaic .td-portfolio-mosaic-container {
	margin:0;
	padding:0;
}

.td-portfolio-mosaic-overlay {
	display:none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:transparent;
	z-index:2;
}

.td-portfolio-mosaic-overlay .css-loader-wrapper {
	width:60px;
	height:60px;
	margin:200px auto 0;
	padding:20px;
	background-color:#e5e5e5;
	background-color:rgba(0,0,0,.5);
	box-shadow:0 0 5px rgba(0,0,0,.4) inset,1px 1px 1px rgba(255,255,255,.1);
	border-radius:1em;
}

.td-portfolio-mosaic-overlay .css-loader-wrapper .css-loader {
	background-position:50% 50%;
	background-repeat:no-repeat;
}

.td-portfolio-mosaic.refreshing .td-portfolio-mosaic-overlay {
	display:block;
}

.td-portfolio-mosaic .td-portfolio-mosaic-header {
	margin-bottom:10px;
}

.td-portfolio-mosaic .td-portfolio-mosaic-header li {
	display:inline-block;
}

.td-portfolio-mosaic-pagination-hidden {
	display:none;
}

.td-portfolio-mosaic .td-portfolio-mosaic-header .td-portfolio-mosaic-order {
	float:right;
}

.td-portfolio-mosaic-container {
	margin:0;
	padding:0;
	list-style:none;
}

.td-portfolio-mosaic-container li {
	display:inline-block;
}

.td-portfolio-readmore {
	white-space:nowrap;
}

#main .td-portfolio-mosaic ul.td-portfolio-mosaic-tags,
.td-portfolio-mosaic .td-portfolio-mosaic-tags {
	margin:10px -10px -10px;
	padding:5px;
	background:#f9f9f9;
	border-radius:0 0 4px 4px;
	font-size:90%;
	font-style:italic;
}

#main .td-portfolio-mosaic ul.td-portfolio-mosaic-tags li,
.td-portfolio-mosaic .td-portfolio-mosaic-tags li {
	width:auto;
	margin-right:1px;
	padding:0 5px;
	background:#e3e3e3;
	border-radius:4px;
}

.td-portfolio-mosaic-columns-1 li {
	width:100%;
}

.td-portfolio-mosaic-columns-2 li {
	width:50%;
}

.td-portfolio-mosaic-columns-3 li {
	width:33.333333333333336%;
}

.td-portfolio-mosaic-columns-4 li {
	width:25%;
}

.td-portfolio-mosaic-columns-5 li {
	width:20%;
}

.td-portfolio-mosaic-columns-6 li {
	width:16.666666666666668%;
}

.td-portfolio-mosaic-item {
	display:block;
	overflow:hidden;
	padding:0.5px;
}

.td-portfolio-mosaic-item .td-portfolio-mosaic-image {
	width:100%;
	height:auto;
	display:block;
}

.td-portfolio-mosaic-item .title {
	margin-bottom:10px;
}

.td-portfolio-mosaic-loadmore {
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.td-portfolio-mosaic-loadmore.hide {
	display:none;
}

.td-portfolio-mosaic-loadmore {
	cursor:pointer;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
	display:block;
	width:150px;
	position:relative;
	margin:60px auto;
	padding:10px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
}

.td-portfolio-mosaic-loadmore .loadmore-all {
	display:none;
}

.td-portfolio-mosaic-loadmore.loader span {
	background-position:center center;
	background-repeat:no-repeat;
	margin:0 auto;
}

.td-portfolio-mosaic .td-portfolio-mosaic-container,.td-portfolio-mosaic-item {
	margin:0;
}

.td-portfolio-mosaic-item .td-portfolio-mosaic-info,
.td-portfolio-mosaic-item .td-portfolio-mosaic-title {
	text-transform:none;
}

.td-portfolio-mosaic-item .td-portfolio-mosaic-title a {
	line-height:1.2em;
}

.td-portfolio-mosaic-item .td-portfolio-mosaic-infos {
	font-size:13px;
	font-weight:700;
	margin:0 0 5px;
}

.td-portfolio-mosaic-item .td-portfolio-mosaic-infos .author {
	font-style:italic;
}

.td-portfolio-mosaic-item .td-portfolio-mosaic-text {
	margin:10px 0;
	display:block;
}

.td-portfolio-mosaic-item {
	position:relative;
}

.td-portfolio-mosaic-item .td-portfolio-padding {
	padding:10px;
}

.td-portfolio-mosaic-filter {
	margin-top:5px;
	margin-bottom:65px;
}

#main .td-portfolio-mosaic .td-portfolio-mosaic-filter ul li,
.td-portfolio-mosaic .td-portfolio-mosaic-filter li {
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
	margin:0 3px;
	padding:0px 14px;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-ms-user-select:none;
	user-select:none;
	letter-spacing:0.1em;
	border:1px solid #d1d1d1;
}

.td-portfolio-mosaic-item .readon {
	margin-top:15px;
}

.td-portfolio-mosaic-image-container {
	position:relative;
	overflow:hidden;
}

.td-portfolio-mosaic-hover {
	position:absolute;
	border-color:transparent;
	border-style:solid;
	border-width:115px 115px 0 0;
	bottom:0;
	right:0;
	margin-right:-115px;
	-webkit-transition:margin .2s ease-in;
	-moz-transition:margin .2s ease-in;
	-o-transition:margin .2s ease-in;
	-ms-transition:margin .2s ease-in;
	transition:margin .2s ease-in;
}

.td-portfolio-mosaic-image-container:hover .td-portfolio-mosaic-hover {
	margin-right:0;
}

.td-portfolio-mosaic-hovercontent {
	position:absolute;
	width:80px;
	height:50px;
	bottom:0;
	right:0;
	opacity:0;
	text-align:center;
	font-size:1em;
	line-height:1em;
	font-weight:700;
}

.td-portfolio-mosaic-hovercontent span {
	display:block;
	font-size:2.1em;
	margin-bottom:6px;
}

.td-portfolio-mosaic-image-container:hover .td-portfolio-mosaic-hovercontent {
	opacity:1;
	-webkit-transition:opacity .4s ease-in;
	-moz-transition:opacity .4s ease-in;
	-o-transition:opacity .4s ease-in;
	-ms-transition:opacity .4s ease-in;
	transition:opacity .4s ease-in;
}

.td-portfolio-readmore span {
	display:block;
}

.td-portfolio-mosaic-item .td-portfolio-mosaic-head {
	margin:0 -10px;
	padding:0 10px;
}

.td-portfolio-mosaic-filter li {
	background-color:transparent;
}

@media only screen and (min-width:768px) and (max-width:959px) {

	.td-portfolio-mosaic-columns-1 li,
	.td-portfolio-mosaic-columns-2 li,
	.td-portfolio-mosaic-columns-3 li,
	.td-portfolio-mosaic-columns-4 li,
	.td-portfolio-mosaic-columns-5 li,
	.td-portfolio-mosaic-columns-6 li {
		width:33.34%;
	}

}

@media only screen and (min-width:481px) and (max-width:767px) {

	.td-portfolio-mosaic-columns-1 li,
	.td-portfolio-mosaic-columns-2 li,
	.td-portfolio-mosaic-columns-3 li,
	.td-portfolio-mosaic-columns-4 li,
	.td-portfolio-mosaic-columns-5 li,
	.td-portfolio-mosaic-columns-6 li {
		width:50%;
	}

}

@media only screen and (max-width:480px) {

	.td-portfolio-mosaic-columns-1 li,
	.td-portfolio-mosaic-columns-2 li,
	.td-portfolio-mosaic-columns-3 li,
	.td-portfolio-mosaic-columns-4 li,
	.td-portfolio-mosaic-columns-5 li,
	.td-portfolio-mosaic-columns-6 li {
		width:100%;
	}

}

.td-portfolio-mosaic-filter {
	text-align:center;
}

.sprocket-mosaic-tags li {
	font-size:13px;
	color:#fff;
	font-style:italic;
	opacity:1;
	text-transform:capitalize;
	letter-spacing:0.1em;
	width: auto;
    padding: 4px;
}

.sprocket-mosaic-tags li:after {
   content:",";
}

.sprocket-mosaic-tags li:last-child:after {
   content:"";
}


/* 5.3 SP Quick Contact Form */

.sp_quickcontact {
	width:80%;
	margin:0 auto;
}

.sp_quickcontact input#email,
.sp_quickcontact input#name,
.sp_quickcontact input#subject,
.sp_quickcontact input.captcha {
	line-height:48px;
	height:48px;
	margin-bottom:30px;
	padding:0 10px;
	width:100%;
	font-size:12px;
	border:1px solid #2d2d2d;
	background:none;
	outline:0;
}

.sp_quickcontact textarea#message {
	padding:10px;
	width:100%;
	font-size:12px;
	border:1px solid #2d2d2d;
	background:none;
	outline:0;
	height:225px;
	min-height:225px;
	max-height:225px;
}

.contact-button {
	text-align:center;
}

.sp_quickcontact input#sp_qc_submit {
	margin:0 auto;
	float:none;
	text-shadow:none;
}


/* 5.4 Revolution Slider */

.tparrows {
	background: #f3f3f3 !important;
	border-radius:100%;
}

.tparrows.default:after {
	color: #000000;
	font-size: 20px;
	position: absolute;
	z-index: 10;
	width:40px;
	line-height:40px;
	text-align:center;
	display:block;
	font-weight: 300;
	top:0px;
	left:0px;
	font-family: "FontAwesome";
}

 .tparrows.default:hover::after {
	 color:#ffffff;
	 border-radius:100%;
 }

.tp-rightarrow.tparrows.default:after {
	content: "\f105";
}

.tp-leftarrow.tparrows.default:after {
	content: "\f104";
}


/*
 * 6. Features - Shortcodes
 * ----------------------------------------------------------------------------
 */

/* 6.1 Services */

.service {
	display:block;
	background:rgba(255,255,255,1);
	border:#e8e8e8 1px solid;
	margin-bottom:30px;
	padding:60px;
	text-align:center;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
}

.service .service-icon {
	font-size:45px;
	position:relative;
	display:inline-block;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
}

.service-line {
	width:30px;
	height:3px;
	background:#000;
	display:block;
	margin:15px auto 15px auto;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
}

.service .service-text {
	display:block;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
	margin-bottom:35px;
}

.service .service-title {
	font-size:12px;
	letter-spacing:0.2em;
	display:block;
	margin:10px 0 25px;
	text-transform:uppercase;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
}

.service:hover > h5.service-title,
.service:hover > .service-text,
.service:hover > .service-icon {
	color:#ffffff;
}

.service:hover .service-line {
	background:#ffffff;
}


/* 6.2 Blockquote */

.blockquote {
	background:#f4f4f4;
	display:block;
	padding:45px 40px;
	font-style:italic;
}

.blockquoteText {
	font-size:16px;
	margin-bottom:15px;
	color:#252525;
	display:block;
}

/* 6.3 Testimonials */

.td-quote {
	width:29px;
	height:29px;
	line-height:29px;
	border-radius:100%;
	color:#fff;
	font-size:12px;
	text-align:center;
}

.quote-message {
	font-style:italic;
}

.quote-message, .partner-description {
    font-size:24px;
    letter-spacing:0.1em;
    color:#000000;
    margin:0;
    padding:15px 0 40px;
    text-align:center;
    display:block;
    line-height:36px;
}

.partner-description {
    font-style: normal;
}

.quote-info {
	display:inline;
}

.quote-info-left {
	display:inline-block;
	float:left;
	width:46%;
	text-align:right;
	padding-right:10px;
}

.quote-info-right {
	display:inline-block;
	float:right;
	width:54%;
	text-align:left;
}

h3.quote-author{
	font-size:13px;
	line-height:13px;
	color:#000000;
	text-transform:uppercase;
	letter-spacing:0.2em;
	display:block;
	margin-bottom:10px;
}

.quote-job {
	color:#000000;
	font-size:12px;
	letter-spacing:0.1em;
	line-height:12px;
	font-style:italic;
	font-size:13px;
}

/* 6.4 Section Headings */

.section-header-style1,
.section-header-style2 {
	display:block;
	margin-bottom:40px;
}

.section-header-style1 {
	text-align:center;
}

.section-header-style2 {
	text-align:left;
}

.section-header-style1 .header-line-bottom {
	margin:0 auto;
}

.header-line-bottom {
	width:30px;
	height:3px;
	background:#000;
	display:block;
}

.section-info {
	font-size:16px;
	font-style:italic;
	display:block;
}

.section-header {
	text-transform:uppercase;
	font-size:14px;
	margin-bottom:10px;
	letter-spacing:0.2em;
}

.section-header-style1 .section-info,
.section-header-style2 .section-info {
	margin-top:20px;
}

/* 6.5 Carousel Slider */

#owl-cslider .owl-nav {
	left:15px;
	position:absolute;
	bottom:25px;
	width:100%;
}

#owl-cslider .owl-prev {
	display:inline-block;
	border:none;
	width:36px;
	float:left;
	height:36px;
	line-height:29px;
	background:rgba(255,255,255,.3);
	color:#fafafa;
	font-size:18px;
	margin:0;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
	border-radius:0;
	margin-right:5px;
}

#owl-cslider .owl-next {
	display:inline-block;
	border:none;
	width:36px;
	float:left;
	height:36px;
	line-height:29px;
	background:rgba(255,255,255,.3);
	color:#fafafa;
	font-size:18px;
	margin:0;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
	border-radius:0;
}

#owl-cslider .owl-next:hover,
#owl-cslider .owl-prev:hover {
	border:none;
	color:#ffffff;
}

/* 6.6 Brands */

.brand {
	border:1px solid #c5c5c5;
	padding:2px;
	background:none;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out
}

.brand:hover {
	border:1px solid #000000;
}

#owl-brand .owl-prev {
	position: absolute;
	left: -60px;
	top: 47.5%;
	color:#000000;
	font-size:30px;
	background:none;
	padding:0;
	width:30px;
	height:30px;
	line-height:1;
	border:none;
}

#owl-brand .owl-prev:hover,
#owl-brand .owl-next:hover {
	color:#cecece;
}

#owl-brand .owl-next {
	position: absolute;
	right: -60px;
	top: 47.5%;
	color:#000000;
	font-size:30px;
	background:none;
	padding:0;
	width:30px;
	height:30px;
	line-height:1;
	border:none;
}

/* 6.7 Post Link */

.postLink {
	display:block;
	background:#f4f4f4;
	padding:45px 40px;
}

.postText{
	font-size:16px;
	color:#161616;
	text-transform:uppercase;
}

.postURL {
	display:block;
	font-style:italic;
}

/* 6.8 Contact Info */

.contact-info {
	width:95%;
	margin:0 auto;
	position:relative;
	display:block;
	text-align:center;
	color:#ffffff;
	margin-bottom:50px
}

.contact-info i {
	color:#ffffff;
	display:block;
	font-size:30px;
	margin-bottom:15px;
}

/* 6.9 General Slider */

#feature {
	height:100%;
	text-align:center;
	width:100%;
}

#feature .moduletable {
	padding:0;
	margin:0;
}

.slider-wrapper {
	position:relative;
	height:100%;
}

.slider-items,
.slider-sub {
	text-align:center;
}

h1.slider-text {
	font-size:40px;
	line-height:48px;
	color:#ffffff;
	text-transform:uppercase;
	margin-bottom:0;
}

.slider-sub{
	color:#fff;
	font-size:16px;
	line-height:48px;
	font-style:italic;
}

.feature-scroll {
	width:20px;
	height:35px;
	border:2px solid #fff;
	color:#fff;
	font-size:10px;
	line-height:10px;
	border-radius:10px;
	margin:0 auto;
	position:absolute;
	bottom:60px;
	left:49.5%;
	z-index:9999;
	-webkit-animation:mouse-fx 1.5s ease infinite;
	-moz-animation:mouse-fx 1.5s ease infinite;
	animation:mouse-fx 1.5s ease infinite;
}

@-webkit-keyframes mouse-fx {

	0% {
		opacity:1;
		bottom:60px;
	}

	100% {
		opacity:.4;
		bottom:40px;
	}

}

@-moz-keyframes mouse-fx {

	0% {
		opacity:1;
		bottom:60px;
	}

	100% {
		opacity:.4;
		bottom:40px;
	}

}

@keyframes mouse-fx {

	0% {
		opacity:1;
		bottom:60px;
	}

	100% {
		opacity:.4;
		bottom:40px;
	}

}


/* 6.10 Progress Bars */

.progress {
  height: 7px;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: #e5e5e5;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}

.sr-only {
  position: relative;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  float:right;
}

.progress-label {
	color:#000000;
	font-size:10px;
	letter-spacing:0.2em;
	text-transform:uppercase;
}

.progress-percentage {
	color:#000000;
	font-size:10px;
	letter-spacing:0.2em;
	text-transform:uppercase;
	text-align:right;
	position: absolute;
	margin: 0 -40px;
}


/* 6.11 Counter */

.counter {
	text-align:center;
	display:block;
	position:relative;
	padding:30px 30px 30px 0;
}

.timer {
	line-height:30px;
	font-size:50px;
}

.timer-title {
	font-size:12px;
	display:block;
	line-height:30px;
	lettr-spacing:0.1em;
	text-transform:uppercase;
}


/* 6.12 Team */

#owl-team {
	margin:0 0 -20px 0;
}

#owl-team .owl-controls {
	display:none;
}

.member {
	display:block;
	position:relative;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
	text-align:center;
}

h4.member-name {
	text-transform:uppercase;
	font-size:12px;
	color:#000000;
	letter-spacing:0.2em;
	margin:0;
}

.member-job {
	font-style:italic;
	font-size:13px;
	line-height:16px;
}

.member-info {
	bottom:0px;
	position:absolute;
	padding:35px;
}

.member-icon {
	color:#ffffff;
	border-radius:100%;
	width:28px;
	height:28px;
	line-height:28px;
	display:block;
	margin:15px auto 10px auto;
	font-size:14px;
}

span.member-job,
span.member-name,
span.member-text {
	display:block;
}

.member-mask {
	top:700px;
	left:0;
	right:0;
	bottom:-700px;
	position:absolute;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
	padding:0px;
	opacity:0;
	text-align:center;
	background-color:rgba(255,255,255, .9);
}

.member:hover .member-mask {
	opacity:1;
	bottom:0px;
	top:0;
	left:0;
	right:0;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
}

.member-mask a i {
	line-height:48px;
	color:#888888;
	display:inline-block;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
	font-size:16px;
}


/* 6.13 Process and Capabilities Sliders */


#owl-process-left ul,
#owl-process-right ul {
	padding-left:0;
	margin-left:0;
}

#owl-process-left li,
#owl-process-right li {
	list-style:none;
}

#owl-process-left li:before,
#owl-process-right li:before {
	content:"\f0da";
	font-family:"FontAwesome";
	margin-right:10px;
	color:#000000;
}

#owl-process-left .section-header-2,
#owl-process-right .section-header-2  {
	margin-bottom:80px;
}

#owl-process-left .process-title,
#owl-process-right .process-title  {
	display:block;
	text-transform:uppercase;
	position:relative;
	line-height:40px;
	font-size:40px;
	letter-spacing:0em;
	color:#252525;
}

.process-text {
	margin-top:40px;
	display:block;
}

#owl-process-left .owl-controls {
	text-align:center;
	position:absolute;
	bottom:60px;
	left:0px;
}

#owl-process-right .owl-controls {
	text-align:center;
	position:absolute;
	bottom:60px;
	right:0px;
}

#owl-process-right .owl-prev,
#owl-process-left .owl-prev {
	display:inline-block;
	border:none;
	width:21px;
	float:left;
	height:21px;
	line-height:17px;
	background:#000000;
	color:#ffffff;
	font-size:12px;
	margin:0 3px 0 0;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
	border-radius:0;
}

#owl-process-right .owl-next,
#owl-process-left .owl-next {
	display:inline-block;
	border:none;
	width:21px;
	float:left;
	height:21px;
	line-height:17px;
	background:#000000;
	color:#ffffff;
	font-size:12px;
	margin:0;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
	border-radius:0;
}

.clrdiv {
	float:none;
}

.process-left .imgdiv {
	float:right;
    /* custom height must change when the image height change */
    height: 400px;
}

.process-right .imgdiv {
	float:left;
    /* custom height must change when the image height change */
    height: 400px;
}

.process-right .imgdiv img {
	text-align:right;
}

.process-right .txtdiv {
	float:right;
}


/* 6.14 Pricing Tables */

table.pr-style1 {
	border:1px solid #eeeeee;
	margin-top:50px;
}

table.pr-style1>tbody>tr:first-child>td {
	padding-top:30px;
}

table.pr-style1>tbody>tr>td {
	border:none;
	line-height:36px;
	text-align:center;
}

table.pr-style1>thead>tr>th {
	border:none;
	text-align:center;
	padding:0px;
}

span.pr-time{
	padding-left:5px;
	font-style:italic;
	font-size:13px;
}

.pr-block {
	position:relative;
	margin:0 20px;
	border-bottom:#eeeeee 1px solid;
}

span.pr-currency,
span.pr-amount {
	font-size:16px;
	color:#000000;
	text-decoration:underline;
	font-style:italic;
	line-height:48px;
}

.pr-icon {
	display:block;
	color:#000000;
	background:#f0f0f0;
	padding:30px 0 20px 0;
	font-size:45px;
}

.offer .pr-icon {
	color:#ffffff;
}

.pr-plan {
	text-transform:uppercase;
	display:block;
	color:#000000;
	font-size:12px;
	letter-spacing:0.2em;
	padding-top:20px;
}

.pr-style1 a.button {
	margin-bottom:30px;
}

i {
	margin:0 5px;
}

/* 6.15 Page Titles */

.header-page {
	background-size:cover;
}

.title-block {
	padding:135px 0 75px 0;
	display:block;
	text-align:center;
}

.page-line {
	width:30px;
	height:3px;
	background:#ffffff;
	margin:15px auto 10px auto;
	display:block;
}

.title-page {
	font-size:25px;
	letter-spacing:0.2em;
	text-transform:uppercase;
	display:block;
	color:#ffffff;
	margin-bottom:10px;
	line-height:1;
}

span.title-description {
	color:#ffffff;
	font-size:16px;
	font-style:italic;
}



/*
 * 7. Scripts
 * ----------------------------------------------------------------------------
 */

 /* 7.1 OWL Carousel */

 .owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */

.owl-height {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

/*
 *  Core Owl Carousel CSS File
 */

.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	/* position relative and z-index fix webkit rendering fonts issue */
	position: relative;
	z-index: 1;
}

.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	/* fix for flashing background */
	-webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
	cursor: pointer;
	cursor: hand;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.owl-carousel.owl-loaded {
	display: block;
}

.owl-carousel.owl-loading {
	opacity: 0;
	display: block;
}

.owl-carousel.owl-hidden {
	opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
	display: none;
}

.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.owl-carousel .owl-item img {
	display: block;
	width: 100%;
	-webkit-transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

.owl-carousel .owl-grab {
	cursor: move;
	cursor: -webkit-grab;
	cursor: -o-grab;
	cursor: -ms-grab;
	cursor: grab;
}

.owl-carousel .owl-rtl {
  direction: rtl;
}

.owl-carousel .owl-rtl .owl-item {
	float: right;
}

/* No Js */

.no-js .owl-carousel {
	display: block;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */

.owl-carousel .owl-item .owl-lazy {
 	 opacity: 0;
	-webkit-transition: opacity 400ms ease;
	-moz-transition: opacity 400ms ease;
	-ms-transition: opacity 400ms ease;
	-o-transition: opacity 400ms ease;
	transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
	transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */

.owl-carousel .owl-video-wrapper {
	position: relative;
	height: 100%;
	background: #000;
}
.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	background: url("owl.video.play.png") no-repeat;
	cursor: pointer;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transition: scale 100ms ease;
	-moz-transition: scale 100ms ease;
	-ms-transition: scale 100ms ease;
	-o-transition: scale 100ms ease;
	transition: scale 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
	-webkit-transition: scale(1.3, 1.3);
	-moz-transition: scale(1.3, 1.3);
	-ms-transition: scale(1.3, 1.3);
	-o-transition: scale(1.3, 1.3);
	transition: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
	display: none;
}

.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	-webkit-transition: opacity 400ms ease;
	-moz-transition: opacity 400ms ease;
	-ms-transition: opacity 400ms ease;
	-o-transition: opacity 400ms ease;
	transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1;
}

.owl-theme .owl-controls {
	margin-top:10px;
	text-align:center;
	-webkit-tap-highlight-color:transparent;
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
	color:#fff;
	font-size:14px;
	margin:5px;
	padding:4px 7px;
	background:#d6d6d6;
	display:inline-block;
	cursor:pointer;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
	background:#869791;
	color:#fff;
	text-decoration:none;
}

.owl-theme .owl-controls .owl-nav .disabled {
	opacity:.5;
	cursor:default;
}

.owl-nav {
	margin-top:5px;
}

.owl-next,
.owl-prev {
	display:inline-block;
	width:22px;
	height:23px;
	line-height:20px;
	border:1px solid #fff;
	color:#fff;
	font-weight:400;
	margin:0 3px;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
}

.owl-theme .owl-controls {
	margin-top:10px;
	text-align:center;
	-webkit-tap-highlight-color:transparent;
}

.owl-dots .owl-dot {
	display:inline-block;
	*display:inline;
	zoom:1;
	-webkit-transition:opacity 400ms ease;
	-moz-transition:opacity 400ms ease;
	-ms-transition:opacity 400ms ease;
	-o-transition:opacity 400ms ease;
	transition:opacity 400ms ease;
}

.owl-dots .owl-dot span {
	width:8px;
	height:8px;
	margin:10px 4px;
	background-color:#dedede;
	display:block;
	-webkit-backface-visibility:visible;
	-webkit-transition:opacity 400ms ease;
	-moz-transition:opacity 400ms ease;
	-ms-transition:opacity 400ms ease;
	-o-transition:opacity 400ms ease;
	transition:opacity 400ms ease;
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
	background-color:#000000;
	-webkit-transition:opacity 400ms ease;
	-moz-transition:opacity 400ms ease;
	-ms-transition:opacity 400ms ease;
	-o-transition:opacity 400ms ease;
	transition:opacity 400ms ease;
}


/* 7.2 Ajax Portfolio */

/* Ajax General Layout */

#ajax-wrapper img {
	display:block;
	height:auto;
	width:100%;
}

#ajax-wrapper {
	position:fixed;
	top:0;
	background:#f0f0f0;
	z-index:99999;
	width:100%;
	left:-100%;
	height:100%;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
	overflow-y:scroll;
}

div#ajax-content {
	padding:0px 0;
}

#ajax-wrapper #nav {
	left:0;
	right:0;
	width:100%;
	top:0;
}

.portfolio-bg {
	min-height:600px;
	position:relative;
	background-position:center !important;
	background-size:cover !important;
	background-attachment:fixed !important;
}


/* Portfolio Content */

.folio-info {
	background:#ffffff;
	padding:30px 30px 180px 30px;
	position:relative;
	display:block;
}

.folio-title {
	display:block;
	font-size:14px;
	text-transform:uppercase;
	letter-spacing:0.2em;
	color:#000000;
	margin:5px 0 10px 0;
}

.folio-line {
	width:30px;
	height:3px;
	background:#000;
	display:block;
	margin-bottom:35px;
}

.folio-date {
	color:#272626;
	font-size:10px;
	text-transform:uppercase;
	display:block;
	position:absolute;
	bottom:30px;
}


/* Portfolio Style One */

#folio-one,
#folio-two {
	padding:160px 0;
}

#folio-three {
	padding:100px 0 160px 0;
}

#folio-one img {
	margin-bottom:30px;
}

/* Portfolio Style One */

#folio-two img {
	margin-bottom:30px;
}

/* Portfolio Style Three */

.folio-three-bg {
	background:#ffffff;
}

#folio-three .folio-info {
	background:none;
	padding:0;
	position:relative;
	display:block;
	text-align:center;
}

#folio-three .folio-title {
	display:block;
	font-size:14px;
	text-transform:uppercase;
	letter-spacing:0.2em;
	color:#000000;
	margin:5px 0 10px 0;
}

#folio-three .folio-line {
	width:30px;
	height:3px;
	background:#000;
	display:block;
	position:relative;
	margin:0 auto 35px auto;
}

#folio-three .folio-date {
	color:#272626;
	font-size:10px;
	text-transform:uppercase;
	margin-top:10px;
	display:block;
	position:relative;
}

#folio-three img {
	margin-bottom:30px;
}

#folio-three a.button {
	margin-bottom:100px;
}

#folio-three .folio-content {

}


#owl-cslider img {
	margin-bottom:0; /* Fix margin on carousel */
}



/* Ajax Portfolio Pagination */

#ajax-content .pager li {
	list-style:none;
	display:inline-block;
	margin-right:10px;
	float:left;
}

#ajax-content li.portfolio-close {
	list-style:none;
	float:right;
	color:#000000;
	font-size:16px;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}

#ajax-content .pager {
	text-align:center;
	margin:0;
	padding:0;
}

#ajax-content .pager .next>a,
#ajax-content .pager .previous>a,
.moduletable-portfolio .pager .next>span,
.moduletable-portfolio .pager .previous>span,
.moduletable-portfolio .portfolio-close {
	font-size:20px;
	display:inline-block;
	text-align:left;
	cursor:pointer;
	color:#000000;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}

/* 7.3 Preloader */

#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff; /* change if the mask should have another color then white */
  z-index:99999; /* makes sure it stays on top */
}

#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-image:url(../img/preloader.gif); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  margin:-100px 0 0 -100px; /* is width and height divided by two */
}



/*
 * 8. Media Queries
 * ----------------------------------------------------------------------------
 */

@media (min-width:993px) {

	.container-fluid .row{
		margin:0;
	}

	.container-fluid .col-lg-12,
	.container-fluid .col-md-12,
	.container-fluid .col-sm-12,
	.container-fluid .col-xs-12 {
		padding:0;
	}

	#folio-one .folio-content {
		padding-left:60px;
	}


	#folio-two .folio-content {
		padding-right:60px;
	}

}

@media (max-width:992px) {

#folio-one .folio-content,
#folio-two .folio-content {
	padding-left:0px;
	padding-right:0px;
}

}

.container-fluid {
	padding:0px !important;
}

@media (max-width:768px) {

	.ArivaK2Content {
		width:100%;
	}

	.ArivaK2icon,
	#owl-process-right .owl-controls,
	#owl-process-left .owl-controls,
	#owl-brand .owl-controls {
		display:none;
	}

	div.k2Pagination {
		text-align: center;
		float: none;
		margin-bottom:50px;
	}

	div.k2Pagination ul {
		padding-left: 0px;
	}

	.counter {
		border:none !important;
		padding:30px 0;
	}

	.row {
		margin: 0 !important;
	}

	section > span > .container {
		padding:80px 0;
	}

	#section12 .col-md-12 {
		padding:0px !important;
	}

	nav {
		margin-top:20px;
	}

	#bottomspot i.social-copy {
		margin:10px 5px;
	}

	.mobile-sidebar {
		width:180px;
		right:-180px;
	}

	.mockupContent {
		position:relative;
		background-size:contain;
		margin:0 auto;
		top:60px;
		display:block;
		width:300px;
		height:508px;
	}

	.owl-dots {
		display:none;
	}

	.td-portfolio-mosaic .td-portfolio-mosaic-filter li {
		margin:10px;
	}

	.title-page,
	h1.slider-text {
		font-size:30px;
		line-height:1;
	}

	.section-header-style3 .section-header {
		font-size:40px;
		line-height:1;
	}

	.title-block {
		padding:140px 0 80px;
	}

	.catItemAuthor,
	.catItemCommentsLink {
		display:block;
		margin-left:0;
	}

	.title-description {
		font-size:13px;
		padding:10px 15px;
	}

	.slider-sub {
		font-weight:700;
		padding:10px 15px;
		color:#fff;
		font-size:13px;
		display:inline-block;
		margin-top:-80px;
	}

	.feature-scroll {
		display:none;
	}

	div.catItemHeader .catItemAuthor,
	div.itemHeader span.itemAuthor {
		margin-left:0;
	}

}
